service: serverless-demo

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1

  iam:
    role:
      statements:
        # DynamoDB permissions
        - Effect: Allow
          Action:
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
          Resource:
            - arn:aws:dynamodb:ap-south-1:797882812918:table/Users

        # S3 permissions
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:GetObject
          Resource:
            - arn:aws:s3:::user-profile-images-797882812918/*

functions:
  api:
    handler: handler.handler
    events:
      - http:
          path: /{proxy+}
          method: any
